<div class="form-row justify-content-center align-items-baseline mx-4 mt-5 mb-4">
    <input #inpNomeCliente class="form-control col-md-7 mx-3 mb-3" name="pesquisa-cliente" type="text"
    placeholder="Pesquisar Cliente" 
    (input)="filtrarClientes(inpNomeCliente.value)" >
    <button class="btn btn-secondary" (click)="filtrarClientes(inpNomeCliente.value)" >Pesquisar</button>
    <button class="btn btn-primary ml-1" (click)="formulario.open(undefined, true)" ><span>+</span> Novo </button>
</div>

<app-cadastro #formulario ></app-cadastro>

<table class="table table-hover">
    <thead class="thead-cinza">
        <tr>
            <th>CNPJ</th>
            <th>Nome</th>
            <th>Data Abertura</th>
            <th>Telefone</th>
            <th>Registro Municipal</th>
            <th>Registro Estadual</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="clientesFiltrados.length">
        <tr *ngFor="let cliente of clientesFiltrados | slice: (page-1) * pageSize : page * pageSize">
            <td>{{ cliente.cnpj | mask: 'CPF_CNPJ' }}</td>
            <td>{{ cliente.companyName }}</td>
            <td>{{ cliente.opening | date: 'dd/MM/yyyy' }}</td>
            <td>{{ cliente.phone | mask: '(00) 0 0000-0000 || (00) 0000-0000' }}</td>
            <td>{{ cliente.municipalRegistration }}</td>
            <td>{{ cliente.stateRegistration }}</td>
            <td><button class="btn btn-info" (click)="formulario.open(cliente)" >Visualizar</button>
            <button class="btn btn-warning" (click)="formulario.open(cliente, true); formulario.edicao = true" >Editar</button></td>
        </tr>
        <ngb-pagination *ngIf="clientesFiltrados.length" [(page)]="page" [pageSize]="pageSize" [collectionSize]="clientesFiltrados.length">
        </ngb-pagination>
    </tbody>
</table>

<p *ngIf="!clientesFiltrados.length" class="text-center mt-5">{{ notFoundText }}</p>
