<form class="container form-col w-25" [formGroup]="usuario" (ngSubmit)="realizarLogin()" novalidate>
    <div class="mr-3">
        <input class="form-control ml-3" type="text" placeholder="Usuário" formControlName="username">
        <input class="form-control ml-3" type="password" placeholder="Senha" formControlName="senha">
        <button class="btn btn-primary w-100 mt-3" type="submit" (click)="realizarLogin()" >Login</button>
    </div>

    <div class="mt-3 text-center ml-3"><a href="#">Esqueci minha senha</a></div>
    <div class="mt-1 text-center ml-3"><a class="link-primary" (click)="irParaCadastro()" >Cadastre-se</a></div>
    <div class="mt-1 text-center ml-3"><a href="#">Ajuda</a></div>
</form>