<div class="form-row justify-content-center align-items-baseline mx-4 mt-5 mb-4">
    <div class="form-row col-md-8 align-items-center justify-content-center mt-3 text-center">
        <div class="form-group col-md-8">
            <input #inpNomeProduto class="form-control" name="pesquisa-produto" type="text"
            placeholder="Pesquisar Produto"
            (input)="filtrarProdutos(inpNomeProduto.value)" >
        </div>

        <div class="form-group col-md-8">
            <ng-select class="text-center" [(ngModel)]="clienteSelecionado" (change)="popularListaProdutosByCliente()"
            placeholder="Selecione um Cliente...">
                <ng-option *ngFor="let cliente of clientes" [value]="cliente">
                    {{ cliente.companyName }}
                </ng-option>
            </ng-select>
        </div>
    </div>

    <div class="col-md-3 justify-content-center text-center">
        <button class="btn btn-secondary" (click)="filtrarProdutos(inpNomeProduto.value)" >Pesquisar</button>
        <button class="btn btn-primary ml-1" (click)="formulario.open(undefined, true)" ><span>+</span> Novo </button>
    </div>
</div>

<app-cadastro #formulario (cadastrado)="filtrarProdutos(inpNomeProduto.value)" ></app-cadastro>
    
<table class="table table-hover">
    <thead class="text-center thead-cinza">
        <tr>
            <th>Código NCM</th>
            <th>Produto</th>
            <th>Cliente</th>
            <th>Consumo Mensal</th>
            <th>Valor</th>
            <th>Detalhes</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="produtosFiltrados.length">
        <tr class="text-center" *ngFor="let produto of produtosFiltrados | slice: (page-1) * pageSize : page * pageSize">
            <td>{{ produto.ncmCode | mask: '0000.00.00' }}</td>
            <td>{{ produto.name }}</td>
            <td>{{ produto.customerId | cliente: clientes }}</td>
            <td>{{ produto.combinedQuantity }}</td>
            <td>R$ {{ produto.combinedPrice | moedaBr }}</td>
            <td>{{ produto.details }}</td>
            <td><button class="btn btn-info" (click)="formulario.open(produto)" >Visualizar</button>
            <button class="btn btn-warning" (click)="formulario.open(produto, true); formulario.edicao = true" >Editar</button></td>
        </tr>
        <ngb-pagination *ngIf="produtosFiltrados.length" [(page)]="page" [pageSize]="pageSize" [collectionSize]="produtosFiltrados.length">
        </ngb-pagination>
    </tbody>
</table>

<div class="cards container-fluid text-center"
*ngIf="produtosFiltrados.length">
    <div class="card mx-3 my-2" 
    *ngFor="let produto of produtosFiltrados | slice: (pageMobile-1) * pageSizeMobile : pageMobile * pageSizeMobile">
        <div class="card-header text-center">{{ produto.name }}</div>
        <div class="card-body card-text px-5">
            <p class="font-weight-bold mb-0">Código NCM: </p><p>{{ produto.ncmCode | mask: '0000.00.00' }}</p>
            <p class="font-weight-bold mb-0">Cliente: </p><p>{{ produto.customerId | cliente: clientes }}</p>
            <p class="font-weight-bold mb-0">Consumo Mensal: </p><p>{{ produto.combinedQuantity }}</p>
            <p class="font-weight-bold mb-0">Valor: </p><p>{{ produto.combinedPrice  | moedaBr }}</p>
            <p class="font-weight-bold mb-0">Detalhes: </p><p>{{ produto.details }}</p>
        </div>
        <div class="card-footer align-content-around">
            <button class="btn btn-info" (click)="formulario.open(produto)" >Visualizar</button>
            <button class="btn btn-warning" (click)="formulario.open(produto, true); formulario.edicao = true" >Editar</button>
        </div>
    </div>
    <div class="w-100 justify-content-center text-center">
        <ngb-pagination class="justify-content-center"
        *ngIf="produtosFiltrados.length" [(page)]="page" [pageSize]="pageSize" [collectionSize]="produtosFiltrados.length">
        </ngb-pagination>
    </div>
</div>

<p *ngIf="!produtosFiltrados.length" class="text-center mt-5">{{ notFoundText }}</p>
