<div class="form-row justify-content-center mx-4 my-5">
    <input #inpNomeProduto class="form-control col-md-7 mx-3" name="pesquisa-produto" type="text"
    placeholder="Pesquisar Produto" 
    (input)="filtrarProdutos(inpNomeProduto.value)" >
    <button class="btn btn-secondary" (click)="filtrarProdutos(inpNomeProduto.value)" >Pesquisar</button>
    <button class="btn btn-primary ml-1" (click)="formulario.open(undefined, true)" ><span>+</span> Novo </button>
</div>

<app-cadastro #formulario ></app-cadastro>
    
<table class="table table-hover">
    <thead class="text-center thead-cinza">
        <tr>
            <th>Código</th>
            <th>Produto</th>
            <th>Cliente</th>
            <th>Consumo Mensal</th>
            <th>Valor</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody *ngIf="produtosFiltrados.length">
        <tr *ngFor="let produto of produtosFiltrados | slice: (page-1) * pageSize : page * pageSize">
            <td>{{ produto.ncmCode }}</td>
            <td>{{ produto.name }}</td>
            <td>{{ produto.customerId }}</td>
            <td>{{ produto.combinedQuantity }}</td>
            <td>{{ produto.combinedPrice }}</td>
            <td>{{ produto.details }}</td>
            <td><button class="btn btn-info" (click)="formulario.open(produto)" >Visualizar</button>
            <button class="btn btn-warning" (click)="formulario.open(produto, true); formulario.edicao = true" >Editar</button></td>
        </tr>
        <ngb-pagination *ngIf="produtosFiltrados.length" [(page)]="page" [pageSize]="pageSize" [collectionSize]="produtosFiltrados.length">
        </ngb-pagination>
    </tbody>
</table>

<p *ngIf="!produtosFiltrados.length" class="text-center mt-5">{{ notFoundText }}</p>
