<ng-template #formulario let-modal >

    <div>
        <h1 class="modal-title display-4 text-muted text-center">Cadastro de Pedido</h1>
    </div>

    <div class="modal-body w-100">
        <form class="needs-validation" [formGroup]="pedido" (ngSubmit)="salvar(pedido.getRawValue())" novalidate>
            
            <div class="form-row justify-content-around align-items-baseline">
                <div class="form-group col-lg-4">
                    <label class="col-form-label" for="cliente">Cliente*:</label>
                    <ng-select name="cliente" (change)="popularListaProdutos()" formControlName="customerId"
                    [class.is-invalid]="pedido.get('customerId').touched && pedido.get('customerId').invalid">
                        <ng-option *ngFor="let cliente of clientes" [value]="cliente.id">
                            {{ cliente.companyName }}
                        </ng-option>
                    </ng-select>
                    <div *ngIf="pedido.get('customerId').errors" class="invalid-feedback">
                        <div *ngIf="pedido.get('customerId').errors.required" >Este campo é obrigatório</div>
                    </div>
                </div>
                <div class="form-group col-lg-2">
                    <label class="col-form-label" for="data-emissao">Data de Emissão: </label>
                    <input class="form-control text-center" name="data-emissao" type="date" formControlName="postingDate"
                    [value]="hoje" [attr.disabled]="true">
                </div>
                <div class="form-group col-lg-2">
                    <label class="col-form-label" for="data-entrega">Data de Entrega*: </label>
                    <input class="form-control text-center" name="data-entrega" type="date" formControlName="deliveryDate"
                    [class.is-invalid]="pedido.get('deliveryDate').touched && pedido.get('deliveryDate').invalid" >
                    <div *ngIf="pedido.get('deliveryDate').errors" class="invalid-feedback">
                        <div *ngIf="pedido.get('deliveryDate').errors.required" >Este campo é obrigatório</div>
                    </div>
                </div>
                <div class="form-group col-lg-4 text-center align-items-center">
                    <label class="col-form-label" for="status" >Status: </label>
                    <div class="form-control border-0" name="status">
                        <label class="lead text-light rounded px-3 py-1"
                        [class.bg-primary]="isNovoPedido()"
                        [class.bg-warning]="isPedidoAberto()"
                        [class.bg-success]="isPedidoAprovado()"
                        [class.bg-info]="isPedidoFaturado()"
                        [class.bg-secondary]="isPedidoCancelado()">
                            {{ pedido.get('status').value | statusPedido | uppercase }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label justify-content-center" for="itens">Itens: </label>
                
                <div formArrayName="orderLines"
                *ngFor="let item of orderLines.controls; let i=index" name="itens">
                    <div [formGroupName]="i" 
                    class="border border-secondary rounded-top px-2 my-2 pb-1 align-items-end justify-content-center">
                        <label class="col text-center" for="endereco">
                            <span class="badge badge-warning">Item {{ i+1 }}:</span>
                        </label>
                        <div class="form-row align-items-baseline">
                            <div class="col-md-11">
                                <div class="form-row align-items-baseline">
                                    <div class="form-group col-md-5">
                                        <label for="produto">Produto*</label>
                                        <ng-select name="produto" formControlName="productId" (change)="exibirPrecosDeItem($event, i)"
                                        [class.is-invalid]="item.get('productId').touched && item.get('productId').invalid">
                                            <ng-option *ngFor="let produto of produtos" [value]="produto.id">
                                                {{ produto.name }}
                                            </ng-option>
                                        </ng-select>
                                        <div *ngIf="item.get('productId').errors" class="invalid-feedback">
                                            <div *ngIf="item.get('productId').errors.required" >Este campo é obrigatório</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="col-form-label" for="qtde">Qtde*</label>
                                        <input class="form-control" name="qtde" type="number" formControlName="quantity"
                                        [class.is-invalid]="item.get('quantity').touched && item.get('quantity').invalid">
                                        <div *ngIf="item.get('quantity').errors" class="invalid-feedback">
                                            <div *ngIf="item.get('quantity').errors.required" >Este campo é obrigatório</div>
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label class="col-form-label" for="valor-unitario">Valor Unitário</label>
                                        <input class="form-control" name="valor-unitario" type="text" prefix="R$ " thousandSeparator="."
                                        mask="separator" decimalMarker="," formControlName="unitaryPrice" [attr.disabled]="true">
                                    </div>
                                    <div class="form-group col">
                                        <label class="col-form-label" for="custos-adicionais">Custos Adicionais</label>
                                        <input class="form-control" name="custos-adicionais" type="text" prefix="R$ " thousandSeparator="."
                                        mask="separator" decimalMarker="," formControlName="additionalCosts" [attr.disabled]="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 align-self-center text-center mt-4">
                                <button class="btn btn-danger" type="button" 
                                *ngIf="edicao" (click)="removerItem(i)" ><span>x</span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <button class="btn btn-primary" type="button" *ngIf="edicao" (click)="adicionarItem()" ><span>+ </span>Novo Item</button>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group w-100">
                    <label class="col-form-label" for="observacoes">Observações: </label>
                    <textarea class="form-control" name="observacoes" rows="2" maxlength="300"
                    formControlName="observation"></textarea>
                </div>
            </div>

            <div class="modal-footer mt-2 justify-content-center">
                <button class="btn btn-primary" *ngIf="isNovoPedido()" type="submit"
                [disabled]="!edicao">
                    Cadastrar Pedido
                </button>
                <button class="btn btn-success" *ngIf="isPedidoAberto()" type="button"
                (click)="aprovarPedido(pedido.getRawValue())" [disabled]="!edicao">
                    Aprovar
                </button>
                <button class="btn btn-success" *ngIf="isPedidoAprovado()" type="button"
                (click)="emitirNotaFiscal(pedido.getRawValue())" [disabled]="!isPedidoAprovado()">
                    Emitir Nota Fiscal
                </button>
                <button class="btn btn-info" *ngIf="isPedidoFaturado()" type="button"
                (click)="baixarNotaFiscal(pedido.getRawValue())">
                    Baixar Nota Fiscal
                </button>
                <button class="btn btn-danger" type="reset" (click)="cancelar(pedido.getRawValue())"
                [disabled]="!edicao || isNovoPedido() || isPedidoCancelado()">
                    Cancelar
                </button>
                <button class="btn btn-warning" type="reset"
                [disabled]="!pedido.dirty || !isNovoPedido()">
                    Limpar
                </button>
                <button class="btn btn-secondary" type="reset" (click)="modal.dismiss()">Sair</button>
            </div>
        </form>
    </div>
</ng-template>

<app-nota-fiscal #notaFiscal ></app-nota-fiscal>