<ng-template let-modal #modal>
    <div class="row justify-content-center text-center">
        <h1 class="col-10 modal-title h3 my-2 pl-5">Suporte ZP Metais</h1>
        <button class="close close-modal" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body w-100 text-center my-3">
        <p class="text-muted m-0">ZP Metais LTDA (CNPJ: 88.539.016/0001-18)</p>
        <p class="text-muted m-0">Rua dos Metais, 747 - Bairro do Além, Sorocaba - SP</p>
        <p class="text-muted m-0">E-mail: suporte@zpmetais.com</p>
        <p class="text-muted m-0">Telefone: (15) 94717-8595</p>
    </div>
    <div class="modal-footer w-100 text-left">
        <p class="text-muted border-0">Versão: v0.0.1 (beta)</p>
    </div>
</ng-template>