<div class="form-row justify-content-center align-items-baseline mx-4 mt-5 mb-4">
    <input #inpNomeUsuario class="form-control col-md-7 mx-3 mb-3" name="pesquisa-cliente" type="text"
    placeholder="Pesquisar Usuário" 
    (input)="filtrarUsuarios(inpNomeUsuario.value)">
    <button class="btn btn-secondary" (click)="filtrarUsuarios(inpNomeUsuario.value)" >Pesquisar</button>
    <button class="btn btn-primary ml-1" (click)="formulario.open(undefined, true)" ><span>+</span> Novo </button>
</div>

<app-cadastro #formulario (cadastrado)="filtrarUsuarios(inpNomeUsuario.value)" ></app-cadastro>

<table class="table table-hover text-center">
    <thead class="thead-cinza">
        <tr>
            <th>Usuário</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Cliente</th>
            <th>Tipo Usuário</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="usuariosFiltrados.length">
        <tr *ngFor="let usuario of usuariosFiltrados | slice: (page-1) * pageSize : page * pageSize">
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.name }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.customerId || '-' | cliente: clientes }}</td>
            <td>{{ usuario.role | role }}</td>
            <td><button class="btn btn-info" (click)="formulario.open(usuario)" >Visualizar</button>
            <button class="btn btn-warning" (click)="formulario.open(usuario, true); formulario.edicao = true" >Editar</button></td>
        </tr>
        <ngb-pagination *ngIf="usuariosFiltrados.length" [(page)]="page" [pageSize]="pageSize" [collectionSize]="usuariosFiltrados.length">
        </ngb-pagination>
    </tbody>
</table>

<p *ngIf="!usuariosFiltrados.length" class="text-center mt-5">{{ notFoundText }}</p>
