<div class="align-items-center justify-content-center w-100">
    <div class="text-center my-4">
        <h1 class="display-4">Bem vindo {{ usuario.nome | uppercase }}!</h1>
        <h6 class="block font-weight-normal">Hoje: {{ hoje | date: 'dd/MM/yyyy' }}</h6>
    </div>

    <div class="form-row align-items-center justify-content-center mt-5">
        <div class="form-group col-sm-2">
            <input class="form-control" name="de" type="date" [value]="mesAnterior | date: 'yyyy-MM-dd'">
        </div>
        <label class="mx-2" for="a">até</label>
        <div class="form-group col-sm-2">
            <input class="form-control" name="a" type="date" [value]="hoje | date: 'yyyy-MM-dd'">
        </div>
    </div>

    <div class="container-fluid d-flex flex-wrap mx-auto mt-1 w-75 justify-content-center">
        <app-card header="HEADER" body="BODY"></app-card>
        <app-card header="HEADER" body="BODY"></app-card>
        <app-card header="HEADER" body="BODY"></app-card>
        <app-card header="HEADER" body="BODY"></app-card>
        <app-card header="HEADER" body="BODY"></app-card>
        <app-card header="HEADER" body="BODY"></app-card>
    </div>
</div>
