<div class="align-items-center justify-content-center w-100">
    <div class="text-center my-4">
        <h1 class="display-4">Bem vindo {{ usuario.name | uppercase }}!</h1>
        <h6 class="block font-weight-normal">Hoje: {{ hoje | date: 'dd/MM/yyyy' }}</h6>
    </div>

    <div class="form-row align-items-center justify-content-center mt-5">
        <div class="form-group col-sm-2">
            <input class="form-control text-center" name="de" type="date" [value]="dataInicial | date: 'yyyy-MM-dd'">
        </div>
        <label class="mx-2" for="a">até</label>
        <div class="form-group col-sm-2">
            <input class="form-control text-center" name="a" type="date" [value]="dataFinal | date: 'yyyy-MM-dd'">
        </div>
    </div>

    <div class="container-fluid d-flex flex-wrap mx-auto mt-1 w-75 justify-content-center">
        <app-card header="Pedidos em Aberto" [body]="dashboard.openOrders"></app-card>
        <app-card header="Pedidos Aprovados" [body]="dashboard.approvedOrders"></app-card>
        <app-card header="Pedidos Cancelados" [body]="dashboard.canceledOrders"></app-card>
        <app-card header="Pedidos Faturados" [body]="dashboard.billedOrders"></app-card>
        <app-card header="Maior Pedido" [body]="dashboard.biggestOrder | currency"></app-card>
        <app-card header="Menor Pedido" [body]="dashboard.lowestOrder | currency"></app-card>
        <app-card header="Pedido Médio" [body]="dashboard.averageOrders | currency"></app-card>
        <app-card header="Vendas Totais" [body]="dashboard.totalSales | currency"></app-card>
    </div>
</div>
